<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row border-bottom" id="header">
        <div
            id="title"
            class="col-lg-8 col-md-8 col-sm-8 col-xs-8 d-flex align-items-center "
        >
            <h1
                style="text-align: center;"
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
            >
                Welcome to {{ title }}!
            </h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-2">
            <img src="{{ logo }}" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-5 col-sm-8 col-8">
            <app-shop
                [shopName]="shop.shopName"
                [imgSrc]="shop.imgSrc"
                [id]="shop.id"
            ></app-shop>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
